#my-carousel{
    
  }
  h2{
    color: #129CF3;
    font-family: 'Playfair Display', serif;
    padding-bottom: 15px;
    text-align: center;
  }
  #margin{
    
  }
  
  #margin2{
    margin: 5% 0 0 0;
    
  }
  #margin3{
    margin: 3% 0 0 0;
    
  }
  .gaf{
    height: 360px;
    background: green;
    margin: -14px 0;
  }
  
  
  /*********************** Demo - 1 *******************/
  .box1 img,.box1:after,.box1:before{width:100%;transition:all .3s ease 0s}
  .box1 .icon,.box2,.box3,.box4,.box5 .icon li a{text-align:center}
  .box10:after,.box10:before,.box1:after,.box1:before,.box2 .inner-content:after,.box3:after,.box3:before,.box4:before,.box5:after,.box5:before,.box6:after,.box7:after,.box7:before{content:""}
  .box1,.box11,.box12,.box13,.box14,.box16,.box17,.box18,.box2,.box20,.box21,.box3,.box4,.box5,.box5 .icon li a,.box6,.box7,.box8{overflow:hidden}
  .box1 .title,.box10 .title,.box4 .title,.box7 .title{letter-spacing:1px}
  .box3 .post,.box4 .post,.box5 .post,.box7 .post{font-style:italic}
  body{background-color:#f1f1f2}
  .mt-30{margin-top:30px}
  .mt-40{margin-top:40px}
  .mb-30{margin-bottom:30px}
  .box1 .icon,.box1 .title{margin:0;position:absolute}
  .box1{box-shadow:0 0 3px rgba(0,0,0,.3);position:relative}
  .box1:after,.box1:before{height:50%;background:rgba(0,0,0,.5);position:absolute;top:0;left:0;z-index:1;transform-origin:100% 0;transform:rotateZ(90deg)}
  .box1:after{top:auto;bottom:0;transform-origin:0 100%}
  .box1:hover:after,.box1:hover:before{transform:rotateZ(0)}
  .box1 img{height:auto;transform:scale(1) rotate(0)}
  .box1:hover img{filter:sepia(80%);transform:scale(1.3) rotate(10deg)}
  .box1 .title{font-size:19px;font-weight:600;color:#fff;text-transform:uppercase;text-shadow:0 0 1px #004cbf;bottom:10px;left:10px;opacity:0;z-index:2;transform:scale(0);transition:all .5s ease .2s}
  .box1:hover .title{opacity:1;transform:scale(1)}
  .box1 .icon{padding:7px 5px;list-style:none;background:#004cbf;border-radius:0 0 0 10px;top:-100%;right:0;z-index:2;transition:all .3s ease .2s}
  .box1:hover .icon{top:0}
  .box1 .icon li{display:block;margin:10px 0}
  .box1 .icon li a{display:block;width:35px;height:35px;line-height:35px;border-radius:10px;font-size:18px;color:#fff;transition:all .3s ease 0s}
  .box2 .icon li a,.box3 .icon a:hover,.box4 .icon li a:hover,.box5 .icon li a,.box6 .icon li a{border-radius:50%}
  .box1 .icon li a:hover{color:#fff;box-shadow:0 0 10px #000 inset,0 0 0 3px #fff}
  @media only screen and (max-width:990px){.box1{margin-bottom:30px}
  }
  
  .box21{text-align:center;position:relative}
  .box21:after,.box21:before{content:"";width:2px;height:2px;border-radius:50%;background:rgba(0,0,0,.35);position:absolute;top:50%;left:50%;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0)}
  .box21:hover:after,.box21:hover:before{-webkit-transform:scale(400);-moz-transform:scale(400);-ms-transform:scale(400);-o-transform:scale(400);transform:scale(400)}
  .box21:before{-o-transition:all .5s linear .3s;-moz-transition:all .5s linear .3s;-ms-transition:all .5s linear .3s;-webkit-transition:all .5s linear .3s;transition:all .5s linear .3s}
  .box21:hover:before{-moz-transition-delay:0s;-webkit-transition-delay:0s;-o-transition-delay:0s;-ms-transition-delay:0s;transition-delay:0s}
  .box21:after{-o-transition:all .5s linear .6s;-moz-transition:all .5s linear .6s;-ms-transition:all .5s linear .6s;-webkit-transition:all .5s linear .6s;transition:all .5s linear .6s}
  .box21:hover:after{-moz-transition-delay:.2s;-webkit-transition-delay:.2s;-o-transition-delay:.2s;-ms-transition-delay:.2s;transition-delay:.2s}
  .box21 img{width:100%;height:auto}
  .box21 .box-content{width:100%;height:100%;position:absolute;top:0;left:0;background:0 0;color:#fff;padding-top:25px;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-ms-transition:all .3s linear 0s;-o-transition:all .3s linear 0s;-webkit-transition:all .3s linear 0s;-moz-transition:all .3s linear 0s;transition:all .3s linear 0s;z-index:1}
  .box21:hover .box-content{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-moz-transition-delay:.4s;-webkit-transition-delay:.4s;-o-transition-delay:.4s;-ms-transition-delay:.4s;transition-delay:.4s}
  .box21 .title{font-size:21px;font-weight:700;text-transform:uppercase;border-bottom:1px solid #fff;padding-bottom:20px;margin-top:20px}
  .box21 .description{font-size:14px;font-style:italic;padding:0 10px;margin:15px 0}
  .box21 .read-more{display:block;width:120px;background:#178993;border-radius:5px;font-size:14px;color:#fff;text-transform:capitalize;padding:10px 0;margin:0 auto}
  @media only screen and (max-width:990px){.box21{margin-bottom:30px}
  }
  @media only screen and (max-width:479px){.box21 .box-content{padding-top:0}
  }
  @media only screen and (max-width:359px){.box21 .title{padding-bottom:10px}
  }
  