<div id="my-carousel" class="carousel col-lg-11 wow bounceInDown animated" data-ride="carousel" data-interval="false">
  <h2>THỂ LOẠI HỘI THẢO</h2>
  <div class="col-sm-5" id='margin'>
      <div class="row"  id="margin2">
          <div class="col-xs-6">
              <div class="box1" data-target="#my-carousel" data-slide-to="0">
                  <img style="height: 100px;"
                      src="http://image.vietnamnews.vn/uploadvnnews/Article/Thanh_Hai/2017/2/23/ttxvn_apec170222-1.jpg" alt="">
                  <h3 class="title">Williamson</h3>
              </div>
          </div>
          <div class="col-xs-6">
              <div class="box1" data-target="#my-carousel" data-slide-to="1">
                  <img style="height: 100px;"
                      src="http://www.dangcongsan.vn/DATA/0/2017/08/ttxvn_som2apec-19_00_26_812.jpg" alt="">
                  <h3 class="title">Williamson</h3>
              </div>
          </div>
      </div>
      <div class="row"  id="margin2">
          <div class="col-xs-6">
              <div class="box1" data-target="#my-carousel" data-slide-to="2">
                  <img style="height: 100px;"
                      src="http://thanhtra.com.vn/portals/0/news_images/2015/06/khaithacanh/ttxvn_2406_apec.jpg" alt="">
                  <h3 class="title">Williamson</h3>
              </div>
          </div>
          <div class="col-xs-6">
              <div class="box1" data-target="#my-carousel" data-slide-to="3">
                  <img style="height: 100px;"
                      src="http://hacincohotel.vn/FileUpload/Images/su_kien__22.jpg" alt="">
                  <h3 class="title">Williamson</h3>
              </div>
          </div>
      </div>
      <div class="row"  id="margin2">
          <div class="col-xs-6">
              <div class="box1" data-target="#my-carousel" data-slide-to="4">
                  <img style="height: 100px;"
                      src="https://sgp1.digitaloceanspaces.com/cosmosgroup/news/02jHFcM9gPJKPtmm4QLdZuAMJEukS0bfE2UAai0u.jpeg" alt="">
                  <h3 class="title">Williamson</h3>
              </div>
          </div>
          <div class="col-xs-6">
              <div class="box1" data-target="#my-carousel" data-slide-to="5">
                  <img style="height: 100px;"
                      src="https://www.shropshirestar.com/resizer/V2UUBWH5yWKyCu0YHjLCbZaO5iM=/1000x0/filters:quality(100)/arc-anglerfish-arc2-prod-shropshirestar-mna.s3.amazonaws.com/public/RY36JO2ZJBFSNPUPFSL6JPKHQE.jpg" alt="">
                  <h3 class="title">Williamson</h3>
              </div>
          </div>
      </div>
  </div>
  <div class="col-sm-7" id='margin'>
      <div class="carousel-inner" role="listbox"  id="margin3">
          <div class="box21 item active gaf">
              <img style="height: 100%;" src="http://image.vietnamnews.vn/uploadvnnews/Article/Thanh_Hai/2017/2/23/ttxvn_apec170222-1.jpg" alt="">
              <div class="box-content">
                  <h4 class="title">willimson 1</h4>
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in
                      odio suscipit, at.</p>
                  <a class="read-more" href="#">read more</a>
              </div>
          </div>
          <div class="box21 item gaf">
                  <img style="height: 100%;" src="http://www.dangcongsan.vn/DATA/0/2017/08/ttxvn_som2apec-19_00_26_812.jpg" alt="">
                  <div class="box-content">
                      <h4 class="title">willimson 2</h4>
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in
                          odio suscipit, at.</p>
                      <a class="read-more" href="#">read more</a>
                  </div>
          </div>
          <div class="box21 item gaf">
                  <img style="height: 100%;" src="http://thanhtra.com.vn/portals/0/news_images/2015/06/khaithacanh/ttxvn_2406_apec.jpg" alt="">
                  <div class="box-content">
                      <h4 class="title">willimson 3</h4>
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in
                          odio suscipit, at.</p>
                      <a class="read-more" href="#">read more</a>
                  </div>
          </div>  
           <div class="box21 item gaf">
                  <img style="height: 100%;" src="http://hacincohotel.vn/FileUpload/Images/su_kien__22.jpg" alt="">
                  <div class="box-content">
                      <h4 class="title">willimson 4</h4>
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in
                          odio suscipit, at.</p>
                      <a class="read-more" href="#">read more</a>
                  </div>
          </div> 
            <div class="box21 item gaf">
                  <img style="height: 100%;" src="https://sgp1.digitaloceanspaces.com/cosmosgroup/news/02jHFcM9gPJKPtmm4QLdZuAMJEukS0bfE2UAai0u.jpeg" alt="">
                  <div class="box-content">
                      <h4 class="title">willimson 5</h4>
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in
                          odio suscipit, at.</p>
                      <a class="read-more" href="#">read more</a>
                  </div>
          </div>  
           <div class="box21 item gaf">
                  <img style="height: 100%;" src="https://www.shropshirestar.com/resizer/V2UUBWH5yWKyCu0YHjLCbZaO5iM=/1000x0/filters:quality(100)/arc-anglerfish-arc2-prod-shropshirestar-mna.s3.amazonaws.com/public/RY36JO2ZJBFSNPUPFSL6JPKHQE.jpg" alt="">
                  <div class="box-content">
                      <h4 class="title">willimson 6</h4>
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in
                          odio suscipit, at.</p>
                      <a class="read-more" href="#">read more</a>
                  </div>
          </div>
      </div>
  </div>

</div>