<div class="comments-container">
		<h3 style="color:white">comment:</h3>
		<form #commentForm=ngForm (ngSubmit)="onSubmit()">
			<textarea name="comment" [(ngModel)]="form.comment" style="color:black;width:100%;height:90px"></textarea>
			<button *ngIf="loggedIn" type="submit" class="btn btn-primary btn2">comment</button>
			<button *ngIf="!loggedIn" type="submit" class="btn btn-primary btnlogin" [routerLink]="['/login']" >
				login
			</button>
		</form>
		<ul *ngIf="comment" id="comments-list" class="comments-list">
			<li *ngFor="let item of comment; let i = index">
				<div class="comment-main-level">
					<!-- Avatar -->
					<div class="comment-avatar">
						<img *ngIf="item.avatarUser" src={{item.avatarUser}} alt="">
						<img *ngIf="!item.avatarUser" class="avatar border-gray" src=" https://ratenshare.com.vn/frontend/images/avatar-placeholder.png" alt="..." />
	
					</div>
					<!-- Contenedor del Comentario -->
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name by-author">{{item.userName}}</h6>
							<span>time</span>
							<i title="remove this comment" *ngIf="item.user_id==showeditid" (click)="deleteComment(item.id)" class="fa fa-trash"></i>
							<i *ngIf="item.user_id==showeditid" title="edit this comment" name="editBar" (click)="toggle(item,i)"
								class="fa fa-pencil-square-o"></i>
							<i class="fa fa-heart"></i>
						</div>
						<div class="comment-content">
							<form [formGroup]="editForm" *ngIf="!ishowedit && i===indexedit">
								<textarea formControlName="comment" name="comment" class="form-control" cols="100" value="{{item.comment}}"></textarea>
								<div for="">
									<button type="button" (click)="onUpdateComment(item.id,i)">Edit</button>
									<button name="editBar" (click)="cancelEdit(item,i)">Cancel</button>
								</div>
							</form>
							<div *ngIf="ishoweditdiv && i!==indexedit" value="item.id">{{item.comment}}</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>