<div style="width:70%;margin:auto;padding: 10px 5px">
  <h1>Send Mail</h1>
  <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" name="email" class="form-control" [(ngModel)]="email" id="email">
  </div>
  <div class="form-group">
      <label for="title">Nội dung</label>
      <textarea  type="text" name="title" class="form-control" [(ngModel)]="title" id="title" rows="5" cols="104"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" (click)="sendmail()" >sendmail</button>
</div>