<div class="main-content">
    <div class="container-fluid">
        <div class="col">
            <div class="row-md-12">
                <div class="card">
                    <h4 class="title">Danh sách hội thảo đăng kí tham gia</h4>
                    <div class="content table-responsive table-full-width">

                        <table class="table table-hover table-striped styletable">
                            <thead>
                                <tr class="text-center">
                                    <th>Tên hội thảo</th>
                                    <th>Host</th>
                                    <th>Địa chỉ</th>
                                    <th>Ngày đăng kí</th>
                                    <th>Ngày diễn ra</th>
                                    <th>Thời gian diễn ra</th>
                                    <th>Sức chứa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let register of RegisterSeminar">
                                    <td>{{register.seminarName.substring(0,30)+'...'}}</td>
                                    <td>{{register.host}}</td>
                                    <td>{{register.adress}}</td>
                                    <td class="btnSeminar">{{register.registrationTime}}</td>
                                    <td class="btnSeminar">{{register.heldTime}}</td>
                                    <td class="btnSeminar">{{register.startTime}}</td>
                                    <td class="btnSeminar">{{register.capacity}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row-md-12">
                <div class="card">
                    <h4 class="title">Danh sách hội thảo tài trợ</h4>
                    <div class="content table-responsive table-full-width">

                        <table class="table table-hover table-striped styletable">
                            <thead>
                                <tr class="text-center">
                                    <th>Tên hội thảo</th>
                                    <th>Host</th>
                                    <th>Địa chỉ</th>
                                    <th>Ngày đăng kí</th>
                                    <th>Ngày diễn ra</th>
                                    <th>Thời gian diễn ra</th>
                                    <th>Sức chứa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let sponsor of RegisterSponsor">
                                    <td>{{sponsor.seminarName.substring(0,30)+'...'}}</td>
                                    <td>{{sponsor.host}}</td>
                                    <td>{{sponsor.adress}}</td>
                                    <td class="btnSeminar">{{sponsor.registrationTime}}</td>
                                    <td class="btnSeminar">{{sponsor.heldTime}}</td>
                                    <td class="btnSeminar">{{sponsor.startTime}}</td>
                                    <td class="btnSeminar">{{sponsor.capacity}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>