.title {
    float: center;
    padding-top: 8px;
    color: #005387;
    font-weight : bold;
}
#button{
  margin-right: 5%;
  margin-bottom: 2%
}
.styletable th {
    text-align: center;
    color: black;
    font-weight: 50px;
    font-size: 14px
}

.btnSeminar {
    text-align: center
}

.icondelete {
    color: red;
    font-size: 20px
}

.iconedit {
    color: blue;
    font-size: 20px
}

.icondetail {
    color: blue;
    font-size: 20px
}

.icondelete:hover {
    cursor: pointer
}

.icondetail:hover {
    cursor: pointer
}

.iconedit:hover {
    cursor: pointer
}

#stylecontent {
    width: 30%
}

#stylename {
    width: 0.3px
}