<section id="about">
  <div class="section-about">
      <div class="container">
          <div class="row">
              <div class="col-md-12 wow bounceIn">
                  <h2 class="section-title">CÁC HỘI THẢO SẮP TỚI</h2>
                  <p class="under-heading">Những hội thảo và sự kiện đáng chú ý
                  </p>
              </div>
          </div>
      </div>
      <div class="section-wrapper">
          <div class="container">
              <div *ngIf="seminars != []" class="row">
                  <div *ngFor='let seminar of seminars; let i= index' class="col-md-4 wow bounceInDown">
                      <ng-container>
                          <a [routerLink]="['/seminar/detail',seminar.id]"><img style="width: 100%;height:210px" src="{{seminar.image}}"></a>
                          <h3 class="heading">{{seminar.seminarName.substr(0,20)+'...'}}</h3>
                          <p class="col-caption" [innerHTML]="seminar.content"></p>
                      </ng-container>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- footer -->
<div class="row" style="border-top:black solid 1px">
  <app-footer-home></app-footer-home>
</div>