<div class="main-content">
    <div class="container-fluid">
        <div class="col">
            <div class="text-center">
                <button id="button" type="button" class="btn btn-primary btn-lg" routerLink='/admin/addSeminar'> <i
                        class="pe-7s-file"></i>Thêm hội
                    thảo</button>
                <button id="button" type="button" class="btn btn-primary btn-lg" [routerLink]="['/admin/addCategory']"><i class="pe-7s-file"></i>
                    Thêm thể
                    loại hội thảo</button>
            </div>
            <div class="row-md-12">
                <div class="card">
                    <div class="header text-center" id="title2">
                        <!-- <p class="category">Dây là danh sách các hội thảo</p> -->
                    </div>

                    <div class="content table-responsive table-full-width">
                        <div class="form-group container-fluid">
                            <input type="text" class="form-control" placeholder="Nhập tên hội thảo cần tìm" [(ngModel)]="searchTerm">
                        </div>
                        <table class="table table-hover table-striped
                            styletable">

                            <thead>
                                <tr class="text-center">
                                    <th>Tên hội thảo</th>
                                    <th>Host</th>
                                    <th>Địa chỉ</th>                                    
                                    <th>Ngày đăng kí</th>
                                    <th>Ngày diễn ra</th>
                                    <th>Thời gian diễn ra</th>
                                    <th>Sức chứa</th>
                                    <th>Loại hội thảo</th>
                                    <th colspan="3">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let seminar of seminars
                                    |seminarFilter:searchTerm | paginate: {
                                    itemsPerPage: 5, currentPage: p }">
                                    <td>{{seminar.seminarName.substring(0,40)+'...'}}</td>
                                    <td>{{seminar.host.substring(0,20)+'...'}}</td>
                                    <td>{{seminar.adress.substring(0,30)+'...'}}</td>   
                                    <td class="btnSeminar">{{seminar.registrationTime}}</td>                                
                                    <td class="btnSeminar">{{seminar.heldTime}}</td>                                    
                                    <td class="btnSeminar">{{seminar.startTime}}</td>
                                    <td class="btnSeminar">{{seminar.capacity}}</td>                                   
                                    <td class="btnSeminar">{{ seminar.namecategory}}
                                    </td>
                                    <td class="icondetail"><span [routerLink]="['/admin/detailSeminar',seminar.id]" class="glyphicon
                                            glyphicon-list-alt"></span></td>
                                    <td class="iconedit"><span [routerLink]="['/admin/editSeminar',seminar.id]" class="glyphicon glyphicon-edit"></span></td>
                                    <td *ngIf="show" class="icondelete"> <span (click)="deleteSeminar(seminar.id)" class="glyphicon glyphicon-trash"></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p= $event"></pagination-controls>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-md-12" style="padding:0px">
                    <div class="card">

                        <div class="header text-center">

                            <!-- <p class="category">Dây là danh sách các hội thảo</p> -->
                        </div>
                        <div class="content table-responsive table-full-width">
                            <div class="form-group container-fluid">
                                <input type="text" class="form-control" placeholder="Nhập thể loại cần tìm" [(ngModel)]="searchCategory">
                            </div>
                            <table class="table table-hover table-striped
                                styletable">
                                <thead>
                                    <tr>
                                        <th>Tên thể loại</th>
                                        <th>Mô tả</th>
                                        <th colspan="2">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let category of categorys |
                                        categoryFilter:searchCategory |
                                        paginate: { itemsPerPage: 4,
                                        currentPage: c, id: 'c' }; index as i">
                                        <td>{{category.categoryName}}</td>
                                        <td>{{category.description}}</td>
                                        <td class="iconedit btnSeminar"><span
                                                [routerLink]="['/admin/editCategory',category.id]"
                                                class="glyphicon glyphicon-edit"></span></td>
                                        <td *ngIf="!show" class="icondelete btnSeminar"> <span (click)="deleteCategory(category.id)"
                                                class="glyphicon glyphicon-trash "></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="c= $event" id="c"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
            <ngx-alerts></ngx-alerts>
        </div>
    </div>
</div>