<nav class="navbar navbar-default" style="background:#333333 none repeat scroll 0 0">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#" >{{getTitle()}}</a> -->
        </div>
        <div class="collapse navbar-collapse">          

            <ul class="nav navbar-nav navbar-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <p style="margin-top:20px">
                        <a (click)="logout($event)">Đăng xuất</a>
                    </p>
                </a>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav>