<body>
    <header class="header" id="HOME">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#loso-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <!-- small size logo -->
                        <img src="../../../assets/img/logobike.png" alt="logo">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="menumobile" id="loso-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a routerLink='/' class="nav-item">Trang Chủ</a></li>
                        <li *ngIf="loggedIn"><a routerLink='/myAccout' class="text-white">Tài khoản
                            </a>
                        </li>
                        <li *ngIf="loggedIn"><a routerLink='/admin' class="text-white">Quản trị</a></li>
                        <li *ngIf="!loggedIn"><a routerLink='/login' class="text-white">Đăng nhập</a></li>
                        <li *ngIf="!loggedIn"><a routerLink='/register' class="text-white">Đăng kí</a></li>
                        <li *ngIf="loggedIn"><a href="#" (click)="logout($event)" class="text-white">Đăng
                                xuất</a></li>
                        <li *ngIf="loggedIn" (click)=shownotification() style="cursor: pointer">
                            <a class="text-white bell">
                                <i class="icon fa fa-bell" aria-hidden="true"></i>
                                <span *ngIf="isShowcount" class="countnotifi">{{countnotification}}</span>
                            </a>
                        </li>
                        <li *ngIf="loggedIn && isShownotifi" style="cursor: pointer" class="tablenotification">
                            <div>
                                <span>Hội thảo sắp diễn ra:</span>
                                <a class="text-white" *ngFor='let item of resevernotification; let i = index'>
                                    <div>
                                        <label class="text-white">{{i+1}}:</label><span>
                                            <a href='/seminar/detail/{{item.seminar_id}}'>{{item.tenhoithao}}</a>
                                        </span>                                   
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <div class="header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--Logo-->
                        <div class="logo text-center">
                            <img src="../../../assets/img/logobike.png" height="80px" width="80px" class="logoimg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 wow bounceIn">
                            <div class="header-text">
                                <h1>Chào mừng bạn đến với Blue-Sky</h1>
                            </div>
                            <div class="header-btns">
                                <a href="#about">
                                    <i class="fa fa-angle-down wow bounceInUp"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="header-col">
                                <form role="form" class="header-form">
                                    <h2>Tìm Kiếm Hội Thảo</h2>
                                    <div class="form-group">
                                        <input type="text" class="form-control
                                            input-3x" name="searchText" [(ngModel)]="searchText" placeholder="Nhập tên hội thảo">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-3x" (click)="searchClick()">Tìm kiếm
                                            <span> <i class="fa
                                                    fa-angle-double-right"></i>
                                            </span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
            </div>
        </div>
    </header>
    <!--Section About-->
    <router-outlet></router-outlet>
</body>