<div class="container-fluid">
  <div class="col">
    <div *ngIf="users">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Thông tin người dùng</h4>
        </div>
        <div class="panel-body">
          <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4 pic">
            <img src="{{users.image}}" class="img-circle img-responsive">
          </div>
          <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">

            <h2>{{users.name}}</h2>

            <hr>
            <ul class="details">
              <li>
                <p><span class="glyphicon glyphicon-user one"></span>{{users.name}}</p>
              </li>
              <li>
                <p><span class="fa fa-calendar one"></span>{{users.dob}}</p>
              </li>
              <li>
                <p><span class="glyphicon glyphicon-envelope one"></span>{{users.email}}</p>
              </li>
              <li>
                <p><span class="glyphicon glyphicon-earphone one"></span>{{users.phone}}</p>
              </li>
            </ul>
            <hr>
            <div class="col-sm-5 col-xs-6 tital ">{{users.about}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="funkydoc">
      <h4><strong>THÊM QUYỀN CHO NGƯỜI DÙNG</strong> </h4>
    </div>
    <form #editForm=ngForm (ngSubmit)="onSubmit()" class="row justify-content-md-center">
      <div class="col-md-6 ">
        <div class="funkyradio">
          <div class="funkyradio-warning">
            <input [(ngModel)]="rolesUser.accessAdminPage" #accessAdminPage="ngModel" type="checkbox"
            id="accessAdminPage" name="accessAdminPage" checked />
            <label for="accessAdminPage">Quyền Quản Trị</label>
          </div>
          <div class="funkyradio-default">
            <input name="accessSeminar" [(ngModel)]="rolesUser.accessSeminar" type="checkbox" class="form-control"
              id="accessSeminar" checked />
            <label for="accessSeminar">Chế độ hội thảo</label>
          </div>
          <div class="funkyradio-primary">
            <input [(ngModel)]="rolesUser.viewLog" #viewLog="ngModel" type="checkbox" name="viewLog" id="viewLog"
              checked />
            <label for="viewLog">Xem nhật kí hoạt động</label>
          </div>
          <div class="funkyradio-success">
            <input [(ngModel)]="rolesUser.editSeminar" #editSeminar="ngModel" type="checkbox" name="editSeminar"
              id="editSeminar" checked />
            <label for="editSeminar">Thêm và Sửa hội thảo</label>
          </div>
          <div class="funkyradio-info">
            <input [(ngModel)]="rolesUser.inviteSeminar" #inviteSeminar="ngModel" type="checkbox" name="inviteSeminar"
              id="inviteSeminar" checked />
            <label for="inviteSeminar">Mời thành phần tham dự</label>
          </div>
          <div class="funkyradio-info">
            <input [(ngModel)]="rolesUser.addAds" #addAds="ngModel" type="checkbox" name="addAds"
              id="addAds" checked />
            <label for="addAds">Thêm quảng cáo</label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="funkyradio">
          <div class="funkyradio-primary">
            <input [(ngModel)]="rolesUser.editUser" #editUser="ngModel" type="checkbox" name="editUser" id="editUser"
              checked />
            <label for="editUser">Sửa thông tin người dùng</label>
          </div>
          <div class="funkyradio-success">
            <input [(ngModel)]="rolesUser.addCategory" #addCategory="ngModel" type="checkbox" name="editCategory"
              id="addCategory" checked />
            <label for="addCategory">Thêm thể loại hội thảo</label>
          </div>
          <div class="funkyradio-danger">
            <input [(ngModel)]="rolesUser.editSponsor" #editSponsor="ngModel" type="checkbox" name="editSponsor"
              id="editSponsor" checked />
            <label for="editSponsor">Sửa nhà tài trợ</label>
          </div>
          <div class="funkyradio-warning">
            <input [(ngModel)]="rolesUser.editComment" #editComment="ngModel" type="checkbox" name="editComment"
              id="editComment" checked />
            <label for="editComment">Sửa bình luận</label>
          </div>
          <div class="funkyradio-warning">
              <input [(ngModel)]="rolesUser.editContact" #editContact="ngModel" type="checkbox" name="editContact"
              id="editContact"   checked />
              <label for="editContact">Sửa thông tin liên hệ</label>
            </div>
            <div class="funkyradio-warning">
              <input [(ngModel)]="rolesUser.listRegister" #listRegister="ngModel" type="checkbox" name="listRegister"
              id="listRegister"   checked />
              <label for="listRegister">Xem danh sách đăng kí tham gia hội thảo và danh sách tài trợ</label>
            </div>

        </div>
      </div>
      <div class="text-center">
        <button class="btn cust-btn " id="btn-registration" style="font-size: 20px;letter-spacing: 1px;">THÊM
          QUYỀN</button>
      </div>
    </form>
  </div>
</div>