<div class="main-content"  style="background:white">
  <h3 class="title">Thêm mới thể loại</h3>
  <form [formGroup]="addFormCategory" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="categoryName">Tên thể loại</label>
          <input type="text" formControlName="categoryName" name="categoryName" class="form-control" placeholder="Nhập tên">
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="addFormCategory.get('categoryName').errors?.required && addFormCategory.get('categoryName').touched">
          Không được để trống!
      </div>
      <div class="form-group">
          <label for="description">Description</label>
          <input type="text" formControlName="description" name="description" class="form-control" placeholder="Nhập description">
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="addFormCategory.get('description').errors?.required && addFormCategory.get('description').touched">
          Không được để trống!
      </div>
      <button type="submit" class="col btn-lg btn-orange-moon btn-md">Thêm mới</button>
      <button class="icon btn btn-md" routerLink='/admin/table'><i
        class="glyphicon glyphicon-arrow-left"></i></button>
  </form>
  <ngx-alerts></ngx-alerts>
</div>