<div class="card">
  <div class="card-header text-center">
    <h1> Nhật Ký Hoạt Động</h1>
  </div>
  <div class="card-body">
    <table class="table">
      <tr>
        <th>Nội dung</th>
        <th>Thời gian</th>
        <th>Tương tác với</th>
        <th>Giá trị đã thay đổi/ tạo mới</th>
        <th>Địa chỉ Ip</th>
      </tr>
      <tr *ngFor="let item of listLog | paginate: {itemsPerPage: 20, currentPage: p}">
        <td>{{item.event}} in {{item.auditable_type}} </td>
        <td>{{item.created_at}}</td>
        <td>{{item.old_values}}</td>
        <td>{{item.new_values}}</td>
        <td>{{item.ip_address}}</td>
      </tr>
    </table>
    <pagination-controls (pageChange)="p= $event"></pagination-controls>
  </div>