<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title"> QUẢN LÝ THÔNG TIN</h4>
                    </div>
                    <div class="content all-icons">
                        <div class="row">
                            <div class="font-icon-list col-lg-2 col-md-3
                                col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail"><i class="pe-7s-safe" routerLink='/admin/listAds'></i>
                                    <!-- <a routerLink='/admin/listAds'>quản lý quảng cáo</a> -->
                                    <P routerLink='/admin/listAds' style="color:royalblue">Quản Lý Quảng Cáo
                                    </P>
                                </div>
                            </div>
                            <div class="font-icon-list col-lg-2 col-md-3
                                col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail"><i class="pe-7s-id"
                                        routerLink='/admin/infomationUser'></i>
                                    <p routerLink='/admin/infomationUser' style="color:royalblue">Quản Lý Người Dùng
                                    </p>
                                </div>
                            </div>                         
                            <div class="font-icon-list col-lg-2 col-md-3
                                col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail"><i class="pe-7s-folder"
                                        routerLink='/admin/listFeedBack'></i>
                                    <p routerLink='/admin/listFeedBack' style="color:royalblue">Liên Hệ và Góp Ý
                                    </p>
                                </div>
                            </div>
                            <div class="font-icon-list col-lg-2 col-md-3
                                col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail"><i routerLink='/admin/listContact'  class="pe-7s-comment"></i><br>
                                    <p routerLink='/admin/listContact' style="color:royalblue">Thông tin liên hệ</p>
                                </div>
                            </div>
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
                                >
                                <div class="font-icon-detail"><i class="pe-7s-note2"></i><br>
                                    <p  style="color:royalblue">Nhật Ký Hoạt Động
                                    </p>
                                </div>
                            </div>
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail"><i routerLink='/admin/sendmail' class="pe-7s-call"></i><br>
                                    <p style="color:royalblue">Send mail</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>