<div class="col-md-12" style="background:white">
    <h4 class="style"> <strong>Thêm hội thảo</strong> </h4>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="seminarName">Tên hội thảo:</label>
            <input type="text" formControlName="seminarName" name="seminarName" class="form-control"
                placeholder="Write seminarName here!">
            <div class="alert alert-danger" role="alert"
                *ngIf="addForm.get('seminarName').errors?.required && addForm.get('seminarName').touched">
                Không được để trống!
            </div>
            <div class="alert alert-danger" role="alert"
                *ngIf="addForm.hasError('minlength','seminarName') && addForm.get('seminarName').touched">
                Phải ít nhất 4 kí tự!
            </div>
        </div>
        <div class="form-group">
            <label>Host</label>
            <input type="text" formControlName="host" name="host" rows="7" class="form-control"
                placeholder="Write host here!">
            <div class="alert alert-danger" role="alert"
                *ngIf="addForm.hasError('required','host') && addForm.get('host').touched">
                Không được để trống!
            </div>
            <div class="alert alert-danger" role="alert"
                *ngIf="addForm.hasError('minlength','host') && addForm.get('host').touched">
                Phải ít nhất 4 kí tự!
            </div>
        </div>
        <div class="form-group">
            <label>Địa chỉ:</label>
            <textarea type="text" formControlName="adress" name="adress" rows="3" class="form-control"
                placeholder="Write adress here!"></textarea>
            <div class="alert alert-danger" role="alert"
                *ngIf="addForm.hasError('required','adress') && addForm.get('adress').touched">
                Không được để trống!
            </div>
            <div class="alert alert-danger" role="alert"
                *ngIf="addForm.hasError('minlength','adress') && addForm.get('adress').touched">
                Phải ít nhất 4 kí tự!
            </div>
        </div>
        <div class="form-group">
            <label class="font1" for="heldTime">Ngày tổ chức</label>
            <input useValueAsDate type="date" formControlName="heldTime" name="heldTime" rows="7"
                class="form-control" placeholder="Write heldTime here!">
            <div class="alert alert-danger" role="alert"
                *ngIf="addForm.hasError('required','heldTime') && addForm.get('heldTime').touched">
                Không được để trống!
            </div>

        </div>
        <div class="form-group">
            <label class="font1" for="startTime">Thời gian tổ chức</label>
            <input  type="time" formControlName="startTime" name="startTime" rows="7"
                class="form-control" placeholder="Write startTime here!">
            <div class="alert alert-danger" role="alert"
                *ngIf="addForm.hasError('required','startTime') && addForm.get('startTime').touched">
                Không được để trống!
            </div>

        </div>
        <div class="form-group">
            <label>Thời gian đăng kí</label>
            <input useValueAsDate type="date" formControlName="registrationTime" name="registrationTime" rows="7" class="form-control"
                placeholder="Write registrationTime here!">
            <div class="alert alert-danger" role="alert"
                *ngIf="addForm.hasError('required','registrationTime') && addForm.get('registrationTime').touched">
                Không được để trống!
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="addForm.errors">
                {{ addForm.errors?.dates | json }}
            </div>
        </div>
        <div class="form-group">
            <label>Sức chứa</label>
            <input type="number" formControlName="capacity" name="capacity" rows="7" class="form-control"
                placeholder="Write capacity here!">
            <div class="alert alert-danger" role="alert"
                *ngIf="addForm.hasError('required','capacity') && addForm.get('capacity').touched">
                Không được để trống!
            </div>
            <div class="alert alert-danger" role="alert"
                *ngIf="addForm.hasError('min','capacity') && addForm.get('capacity').touched">
                Phải ít nhất 10 người
            </div>
        </div>
        <div class="form-group">
            <label>Loại hội thảo</label>
            <select name="categorys_id" formControlName="categorys_id" name="categorys_id" class="form-control">
                <option *ngFor="let eachCategory of category" [ngValue]=" eachCategory.id">
                    {{ eachCategory.categoryName }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Ảnh nền:</label>
            <input formControlName="image" name="image" type='file' (change)="onSelectFile($event)">
            <div class="alert alert-danger" role="alert"
              *ngIf="addForm.hasError('required','image') && addForm.get('image').touched">
              Không được để trống!
            </div>
          </div>
        <div class="form-group">
            <label for="content">Nội dung:</label>
            <textarea id="full-featured"></textarea>
            <input style="display:none" formControlName="content" type="text" value="" id="subValue">
        </div>
        <div>
            <button class="col btn btn-orange-moon btn-lg" id="bindingContent" type="submit">Thêm hội thảo</button>
            <button class="icon btn btn-md" routerLink='/admin/table'><i
                    class="glyphicon glyphicon-arrow-left"></i></button>
        </div>

    </form>
</div>
<ngx-alerts></ngx-alerts>
