<footer>
    <div class="footer-section">
        <div class="container wow fadeInUp">
            <div class="footer-four-columns">
                <div class="row">
                    <div class="col-md-4 footer-column wow fadeInUp">
                        <h4 class="about"><strong>About us</strong></h4>
                        <p>Trường Đại học Phú Xuân được thành lập vào ngày 11/7/2003 và là trường đại học ngoài
                            công lập đầu tiên và duy nhất tại thành phố Huế. Năm 2018, Tổ chức giáo dục Hoa Kỳ (IAE)
                            quyết định đầu tư vào trường nhằm xây dựng trường trở thành một trường đại học hiện đại,
                            có uy tín trong xã hội và mang tầm vóc quốc tế.
                        </p>
                    </div>
                    <div class="col-md-4 footer-column wow fadeInUp">
                        <h4 class='aboutus'><strong>Link us </strong></h4>
                        <small>
                           <div> <label>Facebook:</label> <a href="https://vi-vn.facebook.com/phuxuan.edu.vn/"
                                target="_blank">https://facebook.com</a>
                            </div>
                            <div>
                            <label>Website:</label> <a href="https://phuxuan.edu.vn/"
                                target="_blank">https://phuxuan.edu.vn</a>
                            </div>
                        </small>
                    </div>
                    <div class="col-md-4 footer-column ">
                        <h4 class="about"><strong>Contact us</strong></h4>
                        <h5 *ngFor="let contact of contacts" class="contact">
                            <strong>Tên tổ chức:</strong> {{contact.name}}<br>
                            <strong> Địa chỉ:</strong> {{contact.adress_1}} <br>
                            <strong> Tel:</strong> {{contact.phone}} <br>
                            <strong>Email:</strong> {{contact.email}}<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>