<div class="col-md-12" style="background:white">
    <h4 class="style"> <strong>Sửa hội thảo</strong> </h4>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="seminarName">Tên hội thảo:</label>
            <input type="text" formControlName="seminarName" name="seminarName" class="form-control" placeholder="Write seminarName here!">
            <div class="alert alert-danger" role="alert" *ngIf="editForm.get('seminarName').errors?.required &&
                editForm.get('seminarName').touched">
                Không được để trống!
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="editForm.hasError('minlength','seminarName') &&
                editForm.get('seminarName').touched">
                Phải ít nhất 4 kí tự!
            </div>
        </div>
        <div class="form-group">
            <label>Host</label>
            <input type="text" formControlName="host" name="host" rows="7" class="form-control" placeholder="Write host here!">
            <div class="alert alert-danger" role="alert" *ngIf="editForm.hasError('required','host') &&
                editForm.get('host').touched">
                Không được để trống!
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="editForm.hasError('minlength','host') &&
                editForm.get('host').touched">
                Phải ít nhất 4 kí tự!
            </div>
        </div>
        <div class="form-group">
            <label>Địa chỉ:</label>
            <textarea type="text" formControlName="adress" name="adress" rows="3" class="form-control" placeholder="Write adress here!"></textarea>
            <div class="alert alert-danger" role="alert" *ngIf="editForm.hasError('required','adress') &&
                editForm.get('adress').touched">
                Không được để trống!
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="editForm.hasError('minlength','adress') &&
                editForm.get('adress').touched">
                Phải ít nhất 4 kí tự!
            </div>
        </div>
        <div class="form-group">
            <label class="font1" for="heldTime">Ngày tổ chức</label>
            <input useValueAsDate type="date" formControlName="heldTime" name="heldTime" rows="7" class="form-control" placeholder="Write heldTime here!">
            <div class="alert alert-danger" role="alert" *ngIf="editForm.hasError('required','heldTime') &&
                editForm.get('heldTime').touched">
                Không được để trống!
            </div>
        </div>
        <div class="form-group">
            <label class="font1" for="startTime">Thời gian tổ chức</label>
            <input type="time" formControlName="startTime" name="startTime" rows="7" class="form-control" placeholder="Write startTime here!">
            <div class="alert alert-danger" role="alert" *ngIf="editForm.hasError('required','startTime') &&
                editForm.get('startTime').touched">
                Không được để trống!
            </div>
        </div>
        <div class="form-group">
            <label>Thời gian đăng kí</label>
            <input useValueAsDate type="date" formControlName="registrationTime" name="registrationTime" rows="7" class="form-control" placeholder="Write registrationTime here!">
            <div class="alert alert-danger" role="alert" *ngIf="editForm.hasError('required','registrationTime') &&
                editForm.get('registrationTime').touched">
                Không được để trống!
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="editForm.errors">
                {{ editForm.errors?.dates | json }}
            </div>
        </div>
        <div class="form-group">
            <label>Sức chứa</label>
            <input type="number" formControlName="capacity" name="capacity" rows="7" class="form-control" placeholder="Write capacity here!">
            <div class="alert alert-danger" role="alert" *ngIf="editForm.hasError('required','capacity') &&
                editForm.get('capacity').touched">
                Không được để trống!
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="editForm.hasError('min','capacity') &&
                editForm.get('capacity').touched">
                Phải ít nhất 10 người
            </div>
        </div>
        <div class="form-group">
            <label>Loại hội thảo</label>
            <select name="categorys_id" formControlName="categorys_id" name="categorys_id" class="form-control">
                <option *ngFor="let eachCategory of category" [ngValue]="eachCategory.id">
                    {{ eachCategory.categoryName }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Ảnh nền:</label>
            <img *ngIf="image" [src]="image" style="width:120px">
            <input formControlName="image" name="image" type='file' (change)="onSelectFile($event)">
        </div>
        <div class="form-group">
            <label for="content">Nội dung:</label>
            <textarea id="full-featured"></textarea>
            <input style="display:none" formControlName="content" type="text" value="" id="subValue">
        </div>
        <div>
            <button class="col btn btn-orange-moon btn-lg" id="bindingContent" type="submit">Sửa hội thảo</button>
            <button class="icon btn btn-md" routerLink='/admin/table'><i
                    class="glyphicon glyphicon-arrow-left"></i></button>
        </div>
    </form>
    <ngx-alerts></ngx-alerts>
</div>