<section id="about">
    <div class="section-about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceIn">
                    <h2 class="section-title">CÁC HỘI THẢO SẮP DIỄN RA</h2>                    
                </div>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="container">
                <div *ngIf="seminars != []" class="row">
                    <div *ngFor='let seminar of seminars; let i= index' class="col-md-4 wow bounceInDown">
                        <ng-container *ngIf="i <3">
                            <a [routerLink]="['/seminar/detail',seminar.id]"><img style="width: 100%;height: 100%" src="{{seminar.image}}"></a>
                            <h3 class="heading">{{seminar.seminarName.substr(0,20)+'...'}}</h3>
                            <p class="col-caption" [innerHTML]="seminar.content"></p>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="performer-section" id="performers">
    <div class="performer wow flipInY">
        <div class="performer-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title">MỘT SỐ HỘI THẢO NỔI BẬT</h2>
                    </div>
                </div>
            </div>
            <div class="section-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div *ngIf="seminarsHightlight != []" id="carousel-performer" class="carousel slide" data-ride="carousel">

                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-performer" *ngFor="let item of
                                        seminarsHightlight;let i= index" [attr.data-slide-to]="i" ngClass="i == 0
                                        ? 'active' : ''"></li>
                                </ol>

                                <div class="carousel-inner" role="listbox">
                                    <div *ngFor="let seminar of
                                        seminarsHightlight; let k= index" [ngClass]="k == 0 ? 'item active' :
                                        'item'">                                  
                                        <a [routerLink]="['/seminar/detail',seminar.id]"><img style="width:20%"
                                            src="{{seminar.image}}" alt="Client01" ></a>
                                        <div class="performer-caption">
                                            <h2>
                                                {{seminar.seminarName.substr(0,45)+'...'}}
                                            </h2>
                                            <p>
                                                <small>
                                                    Địa điểm:{{seminar.adress}}
                                                    <br>
                                                    Ngày diễn ra:
                                                    {{seminar.heldTime}}
                                                    <br>
                                                    Thời gian diễn
                                                    ra:{{seminar.startTime}}
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-done-seminar></app-done-seminar>
<section id="numbers">
    <div class="numbers-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title">THÔNG KÊ</h2>
                    <p class="under-heading">Những thống kê được trong những năm vừa qua</p>
                </div>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="num-data block-inline">
                            <i class="fa fa-flag fa-5x"></i>
                            <div class="">
                                <p>{{countSeminar}}
                                </p>
                            </div>
                            <p>Hội Thảo Đã Tạo</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="num-data block-inline">
                            <i class="fa fa-database fa-5x"></i>
                            <div class="">
                                <p>{{countDoneSeminar}}</p>
                            </div>
                            <p>Hội Thảo Đã Diễn Ra</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="num-data block-inline">
                            <i class="fa fa-bicycle fa-5x"></i>
                            <div class="">
                                <p>{{countNextSeminar}}</p>
                            </div>
                            <p>Hội Thảo Sắp Diễn Ra</p>
                        </div>
                    </div>
                    <!-- <div class="col-md-3">
                        <div class="num-data block-inline">
                            <i class="fa fa-life-ring fa-5x"></i>
                            <div class="counter">1452</div>
                            <p>Tiếp Tục</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<app-ads></app-ads>
<section id="contact-us">
    <div class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceInDown">
                    <h2 class="section-title">LIÊN HỆ & GÓP Ý</h2>
                </div>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="container">
                <form role='form' [formGroup]="FeckForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6 wow bounceInLeft">
                            <div class="form-group">
                                <input formControlName="yourName" name="yourName" type="text" placeholder="Họtên" class="form-control
                                    input-lg">
                                <div class="alert alert-danger" role="alert" *ngIf="FeckForm.hasError('yourName').errors?.required
                                    && addForm.get('yourName').touched">
                                    Không được để trống!
                                </div>
                                <div class="alert alert-danger" role="alert" *ngIf="FeckForm.hasError('minlength','yourName')
                                    &&
                                    FeckForm.get('yourName').touched">
                                    Phải ít nhất 4 kí tự!
                                </div>
                            </div>

                            <div class="form-group">
                                <input formControlName="email" name="email" type="email" placeholder="Nhập E - Mail" class="form-control input-lg">
                                <div class="alert alert-danger" role="alert" *ngIf="FeckForm.hasError('required','email')
                                    && FeckForm.get('email').touched">
                                    Không được để trống!
                                </div>
                                <div class="alert alert-danger" role="alert" *ngIf="FeckForm.hasError('minlength','email')
                                    && FeckForm.get('email').touched">
                                    Phải ít nhất 4 kí tự!
                                </div>
                            </div>

                            <div class="form-group">
                                <input formControlName="subject" name="subject" type="text" placeholder="Chủ Đề" class="form-control input-lg">
                                <div class="alert alert-danger" role="alert" *ngIf="FeckForm.hasError('subject').errors?.required
                                    && addForm.get('subject').touched">
                                    Không được để trống!
                                </div>
                                <div class="alert alert-danger" role="alert" *ngIf="FeckForm.hasError('minlength','subject')
                                    && FeckForm.get('subject').touched">
                                    Phải ít nhất 4 kí tự!
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow bounceInRight">
                            <div class="form-group">
                                <textarea formControlName="content" name="content" placeholder="Nhập góp
                                    ý" class="form-control"></textarea>
                                <div class="alert alert-danger" role="alert" *ngIf="FeckForm.hasError('content').errors?.required
                                    && addForm.get('content').touched">
                                    Không được để trống!
                                </div>
                                <div class="alert alert-danger" role="alert" *ngIf="FeckForm.hasError('minlength','content')
                                    && FeckForm.get('content').touched">
                                    Phải ít nhất 4 kí tự!
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block
                                input-lg">Gửi
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="social-icons wow slideInDown">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-facebook
                                            fa-3x"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter
                                            fa-3x"></i></a></li>
                                <li><a href="#"><i class="fa
                                            fa-google-plus
                                            fa-3x"></i></a></li>
                                <li><a href="#"><i class="fa
                                            fa-instagram
                                            fa-3x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ngx-alerts></ngx-alerts>
    </div>
</section>
<app-footer-home></app-footer-home>