<div class="col-md-12" style="background:white">
    <h4 class="style"> <strong>Chỉnh sửa thể loại</strong> </h4>
    <form [formGroup]="editFormGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="categoryName">Tên thể loại:</label>
            <input type="text" formControlName="categoryName" name="categoryName" class="form-control" placeholder="Write
                categoryName here!">
            <div class="alert alert-danger" role="alert" *ngIf="editFormGroup.get('categoryName').errors?.required &&
                editFormGroup.get('categoryName').touched">
                Không được để trống!
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="editFormGroup.hasError('minlength','categoryName') &&
                editFormGroup.get('categoryName').touched">
                Phải ít nhất 4 kí tự!
            </div>
        </div>
        <div class="form-group">
            <label for="description">Mô tả:</label>
            <textarea type="text" formControlName="description" name="description" rows="7" class="form-control" placeholder="Write description here!"></textarea>
            <div class="alert alert-danger" role="alert" *ngIf="editFormGroup.hasError('required','description') &&
                editFormGroup.get('description').touched">
                Không được để trống!
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="editFormGroup.hasError('minlength','description') &&
                editFormGroup.get('description').touched">
                Phải ít nhất 4 kí tự!
            </div>
        </div>
        <div>
            <button [disabled]="editFormGroup.invalid" class="btn btn-primary" type="submit">Sửa thể loại</button>
            <button class="icon btn btn-md" routerLink='/admin/table'><i
                    class="glyphicon glyphicon-arrow-left"></i></button>
        </div>
    </form>
    <ngx-alerts></ngx-alerts>
</div>