<div class="col-md-12" style="background-color: white">
    <h4 class="style"> <strong>Thêm quảng cáo</strong> </h4>
    <form [formGroup]="addAdsForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Tên Quảng Cáo</label>
            <input type="text" formControlName="name" name="name" class="form-control" placeholder="Write name here!">
            <div class="alert alert-danger" role="alert" *ngIf="addAdsForm.get('name').errors?.required &&
        addAdsForm.get('name').touched">
                Không được để trống!
            </div>
        </div>
        <div class="form-group">
            <label for="content">Nội dung:</label>
            <textarea type="text" formControlName="content" name="content" rows="7" class="form-control" placeholder="Write content here!"></textarea>
            <div class="alert alert-danger" role="alert" *ngIf="addAdsForm.hasError('required','content') &&
        addAdsForm.get('content').touched">
                Không được để trống!
            </div>
        </div>
        <div class="form-group">
            <label>Đường dẫn:</label>
            <input type="text" formControlName="URL" name="URL" class="form-control" placeholder="Write URL here!">
            <div class="alert alert-danger" role="alert" *ngIf="addAdsForm.hasError('required','URL') &&
        addAdsForm.get('URL').touched">
                Không được để trống!
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="addAdsForm.hasError('pattern','URL') &&
        addAdsForm.get('URL').touched">
                Sai đường dẫn (http://example.com)
            </div>
        </div>
        <div class="form-group">
            <label>Ảnh:</label>
            <input formControlName="image" name="image" type='file' (change)="onSelectFile($event)">
            <div class="alert alert-danger" role="alert" *ngIf="addAdsForm.hasError('required','image') &&
        addAdsForm.get('image').touched">
                Không được để trống!
            </div>
        </div>
        <div>
            <button [disabled]="addAdsForm.invalid" class="col btn btn-orange-moon
        btn-lg" type="submit">Thêm quảng cáo</button>
            <button class="icon btn btn-md" routerLink='/admin/listAds'><i
          class="glyphicon glyphicon-arrow-left"></i></button>
        </div>
    </form>
    <ngx-alerts></ngx-alerts>
</div>