<div class="main-content">
  <div class="container-fluid">
    <div class="col">        
      <div class="row-md-12">      
          <h4 class="title">Danh sách nhà tài trợ</h4>    
        <div class="card">        
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped styletable">
              <thead>
                <tr class="text-center">
                  <th>Tên nhà tài trợ</th>
                  <th>Email</th>
                  <th>Địa chỉ</th>
                  <th>Số điện thoại</th>
                  <th>Ngày sinh</th>
                  <th>Nội dung tài trợ</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ListSponsor">
                  <td>{{ item.name.substring(0,50)+'...'}}</td>
                  <td>{{ item.email}}</td>
                  <td>{{ item.adress}}</td>
                  <td>{{ item.phone}}</td>
                  <td>{{ item.dob}}</td>
                  <td>{{ item.content}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>