<div class="main-content">
    <div class="container-fluid">
        <div class="col">
            <div class="row-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Danh sách người dùng</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped styletable">
                            <thead>
                                <tr class="text-center">
                                    <th>Tên người dùng</th>
                                    <th>Email</th>
                                    <th>Địa chỉ</th>
                                    <th>Số điện thoại</th>
                                    <th>Ngày sinh</th>
                                    <th>Giới thiệu bản thân</th>
                                    <th>Ảnh</th>
                                    <th colspan="3">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td>{{ user.name}}</td>
                                    <td>{{ user.email}}</td>
                                    <td>{{ user.adress}}</td>
                                    <td>{{ user.phone}}</td>
                                    <td>{{ user.dob}}</td>
                                    <td>{{ user.about}}</td>
                                    <td><img src='{{user.image}}' style="width:50px"></td>
                                    <td class="icondetail"><span [routerLink]="['../detailUser',user.id]" class="glyphicon glyphicon-list-alt"></span>
                                        <td class="icondelete"> <span (click)="deleteUser(user.id)" class="glyphicon glyphicon-trash"></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn_back">
                            <button class="icon btn btn-md" routerLink='/admin/icons'><i
                    class="glyphicon glyphicon-arrow-left"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-alerts></ngx-alerts>