span:hover {
    cursor: pointer;
}

.icondetail {
    font-size: 24px;
    color: blue
}

.center {
    margin-top: 50px;
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn-group button {
    height: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child>button {
    border-right: 0;
}

.icondelete {
    color: red;
    font-size: 24px
}

.btn_back {
    text-align: right;
}