.registration-block{
    background: #DE6262;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float:left;
  width:100%;
  padding : 30px 0;
  }
  .banner{background-image:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover;  border-radius: 0 10px 10px 0; padding:0;}
  .container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
  .carousel-inner{border-radius:0 10px 10px 0;}
  .carousel-caption{text-align:left; left:5%;}
  .registration-sec{padding: 50px 30px; position:relative;}
  .registration-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
  .registration-sec .copy-text i{color:#FEB58A;}
  .registration-sec .copy-text a{color:#E36262;}
  .registration-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
  .registration-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
  .btn-registration{background: #DE6262; color:#fff; font-weight:600; margin-left:100px }
.heigtimg{
    height: 110vh !important;
}

@media only screen and (max-width: 600px) {
    .heigtimg{
        height: 273px !important;
    }
    
  }
  .checkboxThree {
    width: 120px;
    height: 40px;
    background: #333;
    margin: 20px 60px;
 
    border-radius: 50px;
    position: relative;
}
.checkboxThree:before {
  content: 'nam';
  position: absolute;
  top: 12px;
  left: 13px;
  height: 2px;
  color: #26ca28;
  font-size: 16px;
}
.checkboxThree:after {
  content: 'nữ';
  position: absolute;
  top: 12px;
  left: 84px;
  height: 2px;
  color: #111;
  font-size: 16px;
}
.checkboxThree label {
  display: block;
  width: 52px;
  height: 22px;
  border-radius: 50px;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 9px;
  z-index: 1;
  left: 12px;
  background: #ddd;
}
.checkboxThree input[type=checkbox]:checked + label {
  left: 60px;
  background: #26ca28;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.btn-1 {
  background-color: #F27935;
}
.btn-1 .round {
  background-color: #f59965;
}

a {
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 12px 53px 12px 23px;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
a span {
  position: relative;
  z-index: 3;
}
a .round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 3px;
  top: 3px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}
a .round i {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -4px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
 
.txt {
  font-size: 14px;
  line-height: 1.45;
}
 
/* Mẫu button thu nhat */
 
.type-1 a:hover {
  padding-left: 48px;
  padding-right: 28px;
}
.type-1 a:hover .round {
  width: calc(100% - 6px);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.type-1 a:hover .round i {
  left: 12%;
}
.btn2{
  border-radius: 50px;
  padding: 12px;
  background: blue;
  width: 150px;
  float: right;
  color:white;
  font-size: 17px
  }
 
.carousel-inner .item img{
  width: 100%;
}