<div class="registration-block">
  <div class="container">
    <div class="row">

      <div class="col-md-8 banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="d-block img-fluid heigtimg" src="https://static.pexels.com/photos/33972/pexels-photo.jpg"
                alt="First slide">
            </div>
            <div class="item">
              <img class="d-block img-fluid heigtimg"
                src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
            </div>
            <div class="item">
              <img class="d-block img-fluid heigtimg"
                src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 registration-sec">
        <h2 class="text-center">Đăng kí thành viên</h2>
        <form #signupForm=ngForm (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <div class="input-container">
              <i class="fa fa-user icon"></i>
              <input type="text" name="name" class="input-field" id="inputname3" placeholder="Họ và tên"
                [(ngModel)]="form.name" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="input-container">
              <i class="glyphicon glyphicon-map-marker icon"></i>
              <input type="text" name="adress" class="input-field" placeholder="Địa chỉ" [(ngModel)]="form.adress"
                required>
            </div>
          </div>
          <div class="form-group row">
            <div class="input-container">
              <i class="fa fa-phone icon"></i>
              <input type="number" name="phone" class="input-field" placeholder="Số điện thoại" [(ngModel)]="form.phone" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="input-container">
              <i class="fa fa-calendar icon"></i>
              <input type="date" name="dob" class="input-field" placeholder="Ngày sinh" [(ngModel)]="form.dob" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="input-container">
              <i class="fa fa-envelope icon"></i>
              <input class="input-field" type="email" placeholder="Email" name="email" id="inputEmail3"
                [(ngModel)]="form.email" required>
            </div>

          </div>

          <div class="form-group row">
            <div class="input-container">
              <i class="fa fa-key icon"></i>
              <input type="password" name="password" class="input-field" id="inputPasswordConfirmation3" placeholder="Mật khẩu"
                [(ngModel)]="form.password" required>
            </div>
          </div>

          <div class="form-group row">

            <div class="input-container">
              <i class="fa fa-lock icon"></i>
              <input type="password" name="password_confirmation" class="input-field" id="inputPassword3"
                placeholder="Xác nhận mật khẩu" [(ngModel)]="form.password_confirmation" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 offset-2">
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-primary btn2" [disabled]="!signupForm.valid">Đăng kí</button>
                </div>
                <div class=" col-md-6 type-1">
                  <a routerLink="/login" class="btn btn-1">
                    <span class="txt">Đăng nhập</span>
                    <span class="round"><i class="fa fa-chevron-right"></i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>