<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">DANH SÁCH QUẢNG CÁO</h4>
                        <button routerLink='/admin/addAds' class="btn btn-info">Thêm
                            quảng
                            cáo</button>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Hình</th>
                                    <th>Tên</th>
                                    <th>Nội dung</th>
                                    <th>URL</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ad of ads | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td><img src='{{ad.image}}' style="width:50px"></td>
                                    <td>{{ad.name}}</td>
                                    <td>{{ad.content}}</td>
                                    <td>{{ad.URL}}</td>
                                    <td>
                                        <button (click)="statusAds(ad.id)" *ngIf="!ad.status" class="btn
                                            btn-dark"><span
                                                class="glyphicon glyphicon-off"></span></button>
                                        <button (click)="statusAds(ad.id)" *ngIf="ad.status" class="btn
                                            btn-success"><span
                                                class="glyphicon
                                                glyphicon-open"></span></button>
                                    </td>
                                    <td>
                                        <button *ngIf="!show" style="margin-left: 10px" (click)="deleteSeminar(ad.id)" class="btn btn-danger">
                                            <span class="glyphicon
                                                glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        <div class="btn_back">
                            <button class="icon btn btn-md" routerLink='/admin/icons'><i
                                    class="glyphicon glyphicon-arrow-left"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>