<div class="container-fluid" style="padding-top: 10px; margin-bottom: 10px">
    <div style="position: relative;" *ngIf="ads != []">
        <div id="adCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div *ngFor="let ad of ads; let k= index" [ngClass]="k == 0 ?
                    'item active ' : 'item '">
                    <a href={{ad.URL}} target="_blank"> <img src={{ad.image}}></a>
                </div>
            </div>
        </div>
        <!-- <a data-slide="prev" href="#adCarousel" class="left carousel-control main-content center"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#adCarousel" class="right carousel-control main-content center"><i class="fa fa-chevron-right"></i></a> -->
    </div>
</div>