.title {
    float: left;
    margin-right: 700px;
    padding-top: 8px;
    color: blue;
}

.styletable th {
    text-align: center;
    color: black;
    font-weight: 50px;
    font-size: 14px
}

.styletable td {
    text-align: center
}

.icondelete {
    color: red;
    font-size: 20px
}

.iconedit {
    color: blue;
    font-size: 20px
}

.icondetail {
    color: blue;
    font-size: 20px
}

.icondelete:hover {
    cursor: pointer
}

.icondetail:hover {
    cursor: pointer
}

.iconedit:hover {
    cursor: pointer
}

#stylecontent {
    width: 30%
}

#stylename {
    width: 0.3px
}

.btn_back {
    text-align: right;
}