<div class="main-content">
    <div class="container-fluid">
        <div class="col">
            <div class="row-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Thông tin liên hệ</h4>
                        <a class="btn btn-primary" routerLink='/admin/addContact'> Thêm
              thông tin</a>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped styletable">
                            <thead>
                                <tr class="text-center">
                                    <th>Tên tổ chức</th>
                                    <th>Địa chỉ 1</th>
                                    <th>Địa chỉ 2</th>
                                    <th>Email</th>
                                    <th>Số điện thoại</th>
                                    <th colspan="2">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let contact of contacts">
                                    <td>{{ contact.name}}</td>
                                    <td>{{ contact.adress_1}}</td>
                                    <td>{{ contact.adress_2}}</td>
                                    <td>{{ contact.email}}</td>
                                    <td>{{ contact.phone}}</td>
                                    <td class="iconedit"><span [routerLink]="['../editContact',contact.id]" class="glyphicon glyphicon-edit"></span> </td>
                                    <td class="icondelete"> <span (click)="deleteContact(contact.id)" class="glyphicon glyphicon-trash"></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn_back">
                            <button class="icon btn btn-md" routerLink='/admin/icons'><i
                  class="glyphicon glyphicon-arrow-left"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>