<div class="main-content">
  <div class="container-fluid">
    <div class="col">
      <div class="row-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Danh sách khách đăng kí tham gia hội thảo</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped styletable">
              <thead>
                <tr class="text-center">
                  <th>Họ và tên</th>
                  <th>Số điện thoại</th>
                  <th>Email</th>
                  <th>Địa chỉ</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of ListGuest">
                  <td>{{list.name}}</td>
                  <td>{{list.phone}}</td>
                  <td>{{list.email}}</td>
                  <td>{{list.adress}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div>
        <div class="col-md-12" style="padding:0px">
          <div class="card">
            <div class="header">
              <h4 class="title">Danh sách người dùng đăng kí tham gia hội thảo</h4>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped styletable">
                <thead>
                  <tr>
                    <th>Họ và tên</th>
                    <th>Số điện thoại</th>
                    <th>Email</th>
                    <th>Địa chỉ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let listuser of  ListUser">
                    <td>{{listuser.name}}</td>
                    <td>{{listuser.phone}}</td>
                    <td>{{listuser.email}}</td>
                    <td>{{listuser.adress}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>