.icon {
    float: right;
    margin-right: 25px;
    font-size: 18px
}

.styledetail th {
    text-align: center;
    color: black;
    font-weight: 400px;
    font-size: 14px
}

.styledetail td {
    text-align: center
}

.title {
    font-size: 30px
}

.Highlights {
    text-align: right;
}

.icon{
    float: right;
    margin-right: 25px;
    font-size: 18px
}
.styledetail th{
    text-align: center;
    color:black;
    font-weight: 400px;
    font-size: 14px
}
.styledetail td{
    text-align: center
}
.title{
    font-size: 30px
}

@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 20px 10px;
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}
.paneltt:hover{
    cursor: pointer;
    color:blue
}
.panelttr:hover{
    cursor: pointer;
    color:red
}