
<div class="container-fluid" *ngIf='seminar'>
    <div class="row">
        <div class="col-md-9">
            <h2> {{seminar.seminarName}}</h2>
            <div [innerHTML]="seminar.content">
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-danger panel-pricing">
                <div class="panel-heading text-center">
                    <h5><strong>   THÔNG TIN VỀ HỘI THẢO  </strong></h5>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Địa chỉ:</strong> {{seminar.adress}}</li>
                    <li class="list-group-item"><strong> Đơn vị tổ chức:</strong> {{seminar.host}}</li>
                    <li class="list-group-item"><strong>Thời gian tổ chức:</strong> {{seminar.heldTime}}</li>
                    <li class="list-group-item"><strong>Thời gian đăng kí:</strong> {{seminar.registrationTime}}</li>
                </ul>
                <div class="panel-footer">
                    <div class="paneltt"> <h5   [routerLink]="['/admin/listSponsor',seminar.id]"><strong>Danh sách nhà tài trợ</strong>  </h5></div>
                   
                    <div class="panelttr"> <h5  [routerLink]="['/admin/registerList',seminar.id]"><strong>Danh sách đăng ký tham gia</strong> 
                    </h5></div> 
                    <div class="Highlights">
                        <button (click)="HighlightsSeminar(seminar.id)" *ngIf="!seminar.Highlights" class="btn btn-dark">OFF</button>
                        <button (click)="HighlightsSeminar(seminar.id)" *ngIf="seminar.Highlights" class="btn btn-success">ON</button>
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</div>