<section class="why-us" id="timeline">
    <div class="section-timeline">
        <div class="container">
            <h2 class="heading">HỘI THẢO <span class="bold-green">ĐÃ DIỄN RA</span></h2>
            <p class="lead under-heading text-center">Thanh thời gian</p>
            <ul class="timeline" *ngIf="seminars != []">
                <ng-container *ngFor="let item of seminars;let i= index">
                    <li *ngIf="i <6" [ngClass]="i % 2> 0 ? 'timeline-inverted' :
                        ''">
                        <div class="timeline-badge"><span class="counteryear">{{i+1}}</span></div>
                        <div class="timeline-panal wow bounceIn">
                            <div class="timeline-heading">
                                <a [routerLink]="['/seminar/detail',item.id]">
                                    <h4 class="timeline-title">{{item.seminarName}}
                                    </h4>
                                    <span class="timeline-title blue-underline">Đã hoàn thành</span>
                                </a>
                                <p><small class="text-muted"><i class="fa
                                            fa-clock-o"></i> {{item.heldTime}}
                                    </small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p [innerHTML]="item.content"></p>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</section>