<div class="col-md-12">
    <div class="row">
        <div class="panel panel-danger panel-pricing">
            <div class="panel-heading text-center">
                <h4><strong> THÔNG TIN VỀ HỘI THẢO </strong></h4>
                <div class="row" style="text-align:center">
                    <button *ngIf="!checkInterest && show" (click)="interest()" type="button" id="interest"
                        class="btn btn-primary btn-sm">QUAN TÂM</button>
                    <button *ngIf="checkInterest" (click)="interest()" type="button" id="interest"
                        class="btn btn-danger btn-sm">HỦY QUAN TÂM</button>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><strong>Tên hội thảo:</strong> {{inforSeminar.seminarName}}</li>
                <li class="list-group-item"><strong>Địa chỉ:</strong> {{inforSeminar.adress}}</li>
                <li class="list-group-item"><strong> Đơn vị tổ chức:</strong> {{inforSeminar.host}}</li>
                <li class="list-group-item"><strong>Ngày diễn ra:</strong> {{inforSeminar.heldTime}}</li>
                <li class="list-group-item"><strong>Thời gian diễn ra:</strong> {{inforSeminar.startTime}}</li>

            </ul>
            <div class="panel-footer">
                <div>
                    <span class="btnseminar2">
                        <h5 *ngIf="!user" data-toggle="modal" data-target="#squarespaceModal">ĐĂNG KÍ THAM GIA HỘI THẢO
                        </h5>
                    </span>
                    <span class="btnseminar2">
                        <h5 *ngIf="user" (click)="onUserRegister()"><strong>ĐĂNG KÍ THAM GIA</strong> 
                        </h5>
                        <div id="alertregis">
                            <h5 class="text-success" *ngIf="alert">Đã đăng ký thành công</h5>
                            <h5 class="text-danger" *ngIf="!alert">Đã đăng ký trước đó</h5>
                        </div>
                    </span>
                </div>
                <div>
                    <span class="btnseminar1">
                        <h5 *ngIf="user" data-toggle="modal" data-target="#squarespaceModalSponsor"> <strong>ĐĂNG KÍ TÀI
                                TRỢ</strong></h5>
                    </span>
                </div>
            </div>
        </div>
        <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
            aria-hidden="true">
            <div class="modal-dialog .modal-lg ">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="lineModalLabel">Vui lòng điền các thông tin sau</h3>
                    </div>
                    <div class="modal-body">

                        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="seminarName">Họ và tên</label>
                                <input type="text" formControlName="name" name="name" class="form-control"
                                    placeholder="Write name here!">
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="addForm.hasError('required','name')  && addForm.get('name').touched">
                                    Không được để trống!
                                </div>
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="addForm.hasError('minlength','name') && addForm.get('name').touched">
                                    Phải ít nhất 4 kí tự!
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="seminarName">Ngày Sinh</label>
                                <input type="date" formControlName="dob" name="dob" class="form-control"
                                    placeholder="Write dob here!">
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="addForm.hasError('required','dob')  && addForm.get('dob').touched">
                                    Không được để trống!
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" formControlName="adress" name="adress" class="form-control"
                                    placeholder="Write adress here!">
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="addForm.hasError('required','adress') && addForm.get('adress').touched">
                                    Không được để trống!
                                </div>
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="addForm.hasError('minlength','adress') && addForm.get('adress').touched">
                                    Phải ít nhất 4 kí tự!
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="email" formControlName="email" name="email" class="form-control"
                                    placeholder="Write email here!">
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="addForm.hasError('required','email') && addForm.get('email').touched">
                                    Không được để trống!
                                </div>
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="addForm.get('email').invalid && addForm.get('email').touched">
                                    Sai định dạng email!
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font1">Số điện thoại</label>
                                <input type="text" formControlName="phone" name="phone" class="form-control"
                                    placeholder="Write phone here!">
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="addForm.hasError('required','phone') && addForm.get('phone').touched">
                                    Không được để trống!
                                </div>
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="addForm.hasError('minlength','phone') && addForm.get('phone').touched">
                                    Phải ít nhất 9 kí tự!
                                </div>
                            </div>
                            <div class="btn-moon">
                                <button class="col btn btn-purple-moon btn-rounded" 
                                    type="submit">ĐĂNG
                                    KÍ</button>
                                <button type="button" class="col btn btn-orange-moon" data-dismiss="modal"
                                    role="button">ĐÓNG</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">

        <div class="modal fade" id="squarespaceModalSponsor" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
            aria-hidden="true">
            <div class="modal-dialog .modal-lg ">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">Đóng</span></button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group " *ngIf="informationUser">
                            <h4 class="text-center"><strong> THÔNG TIN VỀ BẠN</strong></h4>
                            <li class="list-group-item" aria-disabled="true">
                                <strong class="register">Họ và tên:</strong>{{informationUser.name}}
                            </li>
                            <li class="list-group-item" aria-disabled="true"> <strong class="register">
                                    Email:</strong>{{informationUser.email}}
                            </li>
                            <li class="list-group-item" aria-disabled="true"> <strong class="register">
                                    Địa chỉ:</strong>{{informationUser.adress}}
                            </li>
                        </ul>
                        <hr>
                        <form [formGroup]="addForm2" (ngSubmit)=" addSubmit()">
                            <div class="form-group">
                                <label>Nội dung tài trợ</label>
                                <input type="text" formControlName="content" name="content" class="form-control"
                                    placeholder="Write content here!">
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="addForm.hasError('required','content')  && addForm.get('content').touched">
                                    Không được để trống!
                                </div>
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="addForm.hasError('minlength','content') && addForm.get('content').touched">
                                    Phải ít nhất 4 kí tự!
                                </div>
                            </div>
                            <div class="btn-moon">
                                <button class="col btn btn-purple-moon btn-rounded" type="submit">ĐĂNG KÍ</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-alerts></ngx-alerts>