.register{
    margin-right: 5px
}

.btn-orange-moon {
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}  
.btn-purple-moon {
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}
.center{
    text-align:center;
    margin-bottom: 20px;
      
}


div.btn:before { 
    width: 0; 
    content: ''; 
    position: absolute; 
    top: 0; 
    right: 0; 
    border-top: 15px solid #ffffff; 
    border-left: 15px solid #d15e00;
   
    }
    
    div.btn:after { 
    width: 0; 
    content: ''; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    border-bottom: 15px solid #ffffff; 
    border-right: 15px solid #d15e00;
   
    }
  #interest{
      margin-bottom: 3%;
  }


  @import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 20px 10px;
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}
.paneltt:hover{
    cursor: pointer;
    color:blue
}
.panelttr:hover{
    cursor: pointer;
    color:red
}
.btnseminar1:hover{
    cursor: pointer;
    color:red
}
.btnseminar2:hover{
    cursor: pointer;
    color:blue
}