<h5>HỘI THẢO ĐÃ DIỄN RA</h5>

<div class="col-xs-12 wow bounceInDown animated"  *ngFor="let item of seminars;let i= index">
    <div class="thumbnail">
        <a href="#" title="Visit design">
            <img alt="" class="img-responsive" src="">
        </a>
        <a [routerLink]="['/seminar/detail',item.id]" title="Visit UserName's profile">
            <img width="100%" height="100%" class="img-rounded" alt="" src="{{item.image}}">
        </a>
        <h3>
            <a href="#" title="Title goes here">{{item.seminarName.substr(0,45)+'...'}}</a><br>
            <small>{{item.heldTime}} <a [routerLink]="['/seminar/detail',item.id]" title="Visit UserName's profile"></a></small>
        </h3>
        <div class="stats">
            <small>
                <span><a href="#"> <span class="glyphicon glyphicon-heart"
                            aria-hidden="true"></span> 1 </a></span>
                <span><a href="#"> <span class="glyphicon glyphicon-comment"
                            aria-hidden="true"></span>
                        <span>2</span></a></span>
            </small>
        </div>
    </div>
</div>