<div>
    <div class="col-md-12" style="padding:0px">
        <div class="card">
            <div class="header text-center">
                <!-- <p class="feedback">Dây là danh sách các liên hệ và góp ý</p> -->
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped
          styletable">
                    <thead>
                        <tr>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>Chủ Đề</th>
                            <th>Nội dung</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let feedback of feedbacks; index as i">
                            <td>{{feedback.yourName}}</td>
                            <td>{{feedback.email}}</td>
                            <td>{{feedback.subject}}</td>
                            <td>{{feedback.content}}</td>
                            <td class="icondelete"> <span (click)="deleteFeedback(feedback.id)" class="glyphicon
                  glyphicon-trash"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<ngx-alerts></ngx-alerts>