<div class="col-md-12" style="background-color: white">
  <h4 class="style"> <strong>Thêm thông tin liên hệ</strong> </h4>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Tên tổ chức:</label>
      <input type="text" formControlName="name" name="name" class="form-control" placeholder="Write name here!">
      <div class="alert alert-danger" role="alert"
        *ngIf="addForm.get('name').errors?.required && addForm.get('name').touched">
        Không được để trống!
      </div>
      <div class="alert alert-danger" role="alert"
        *ngIf="addForm.hasError('minlength','name') && addForm.get('name').touched">
        Phải ít nhất 4 kí tự!
      </div>
    </div>
    <div class="form-group">
      <label>Địa chỉ 1</label>
      <input type="text" formControlName="adress_1" name="adress_1" class="form-control" placeholder="Write adress here!">
      <div class="alert alert-danger" role="alert"
        *ngIf="addForm.hasError('required','adress_1') && addForm.get('adress_1').touched">
        Không được để trống!
      </div>
      <div class="alert alert-danger" role="alert"
        *ngIf="addForm.hasError('minlength','adress_1') && addForm.get('adress_1').touched">
        Phải ít nhất 4 kí tự!
      </div>
    </div>
    <div class="form-group">
      <label>Địa chỉ 2</label>
      <input type="text" formControlName="adress_2" name="adress_2" class="form-control" placeholder="Write adress here!">
      <div class="alert alert-danger" role="alert"
        *ngIf="addForm.hasError('required','adress_2') && addForm.get('adress_2').touched">
        Không được để trống!
      </div>
      <div class="alert alert-danger" role="alert"
        *ngIf="addForm.hasError('minlength','adress_2') && addForm.get('adress_2').touched">
        Phải ít nhất 4 kí tự!
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" formControlName="email" name="email" class="form-control" placeholder="Write email here!">
      <div class="alert alert-danger" role="alert"
        *ngIf="addForm.hasError('required','email') && addForm.get('email').touched">
        Không được để trống!
      </div>
      <div class="alert alert-danger" role="alert"
        *ngIf="addForm.hasError('minlength','email') && addForm.get('email').touched">
        Phải ít nhất 4 kí tự!
      </div>
    </div>
    <div class="form-group">
      <label>Số điện thoại</label>
      <input type="text" formControlName="phone" name="phone" class="form-control" placeholder="Write phone here!">
      <div class="alert alert-danger" role="alert"
        *ngIf="addForm.hasError('required','phone') && addForm.get('phone').touched">
        Không được để trống!
      </div>
      <div class="alert alert-danger" role="alert"
        *ngIf="addForm.hasError('minlength','phone') && addForm.get('phone').touched">
        Phải ít nhất 4 kí tự!
      </div>
    </div>
   
    
    <div>
      <button class=" btn-orange-moon btn-lg" type="submit">Thêm thông tin</button>
    </div>
  </form>
  <ngx-alerts></ngx-alerts>
</div>