<div class="col-md-12">
  <h4 class="style"> <strong>Thêm hội thảo</strong> </h4>
  <form [formGroup]="editAdsForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="name">Tên Quảng Cáo</label>
          <input type="text" formControlName="name" name="name" class="form-control"
              placeholder="Write name here!">
          <div class="alert alert-danger" role="alert"
              *ngIf="editAdsForm.get('name').errors?.required && editAdsForm.get('name').touched">
              Không được để trống!
          </div>
      </div>
      <div class="form-group">
          <label for="content">Nội dung:</label>
          <textarea type="text" formControlName="content" name="content" rows="7" class="form-control"
              placeholder="Write content here!"></textarea>
          <div class="alert alert-danger" role="alert"
              *ngIf="editAdsForm.hasError('required','content') && editAdsForm.get('content').touched">
              Không được để trống!
          </div>
      </div>
      <div class="form-group">
          <label>URL:</label>
          <input type="text" formControlName="URL" name="URL" class="form-control"
              placeholder="Write URL here!">
          <div class="alert alert-danger" role="alert"
              *ngIf="editAdsForm.hasError('required','URL') && editAdsForm.get('URL').touched">
              Không được để trống!
          </div>
      </div>

       <div class="form-group">
          <label>Trạng Thái</label>
          <select name="status" formControlName="status" name="status" class="form-control">
             <option value="0">Tắt</option>
             <option value="1">Bật</option>
          </select> 
       </div> 
      <div>
          <button [disabled]="editAdsForm.invalid" class=" btn-lg btn-info" type="submit">Thêm hội thảo</button>
      </div>
  </form>
  <ngx-alerts></ngx-alerts>
</div>