<div class="login-block">
  <div class="container">
    <div class="row">

      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="d-block img-fluid heigtimg" src="https://static.pexels.com/photos/33972/pexels-photo.jpg"
                alt="First slide">

            </div>
            <div class="item">
              <img class="d-block img-fluid heigtimg"
                src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">

            </div>
            <div class="item">
              <img class="d-block img-fluid heigtimg"
                src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 login-sec">
        <h2 class="text-center">ĐĂNG NHẬP</h2>
        <form #loginForm=ngForm (ngSubmit)="onSubmit()">

          <div class="alert alert-danger" [hidden]="!error">
            {{error}}
          </div>
          <div class="form-group row">
            <div class="input-container">
              <i class="fa fa-envelope icon"></i>
              <input class="input-field" type="email" placeholder="Email" name="email" id="inputEmail3"
                [(ngModel)]="form.email" required>
            </div>
            <div class="input-container">
              <i class="fa fa-key icon"></i>
              <input type="password" name="password" class="input-field" id="inputPassword3" placeholder="Password"
                [(ngModel)]="form.password" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 offset-2">
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-primary btn2" [disabled]="!loginForm.valid">Ok</button>
                </div>
                <div class=" col-md-6 type-1">
                  <a routerLink="/register" class="btn btn-1">
                    <span class="txt">Đăng ký</span>
                    <span class="round"><i class="fa fa-chevron-right"></i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <small class=float-right>
            <!-- <a routerLink="/request-password-reset">Reset Password</a> -->
          </small>
        </form>
      </div>
    </div>
  </div>