<div class="col-md-11 wow bounceInDown animated" id="main" data-wow-delay="0.2s">
    <h2 style="color: #129CF3;
    font-family: 'Playfair Display', serif;
    padding-bottom: 15px; text-align: center">HỘI THẢO SẮP DIỄN RA</h2>
    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive "
                    src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
            </li>
            <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive"
                    src="https://s3.amazonaws.com/uifaces/faces/twitter/rssems/128.jpg" alt="">
            </li>
            <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive"
                    src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" alt="">
            </li>
        </ol>

        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner text-center fontletter">

            <!-- Quote 1 -->
            <div class="item active">
                <blockquote>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h4>Kinh doanh, không phải là kiếm tiền, không phải là phụng sự xã hội, cũng không phải là kiếm tiền và phụng sự 
                                xã hội, mà là kiếm tiền bằng cách phụng sự xã hội và không làm phương hại đến cộng đồng (PACE, 2001)
                            </h4>
                            
                        </div>
                    </div>
                </blockquote>
            </div>
            <!-- Quote 2 -->
            <div class="item">
                <blockquote>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h4>Lãnh đạo, không phải là người có chức, cũng không hẳn là người có quyền, mà là người dẫn dắt về 
                                tư tưởng và tạo ra sự thay đổi (của tập thể, của tổ chức, của xã hội…) theo hướng tiến bộ.(PACE, 2002)
                            </h4>
                            
                        </div>
                    </div>
                </blockquote>
            </div>
            <!-- Quote 3 -->
            <div class="item">
                <blockquote>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h4>Chỉ có học thực, mới có năng lực thực; chỉ có năng lực thực, mới có thể làm thực; chỉ có làm thực, mới có thể
                                tạo ra giá trị thực; chỉ có tạo ra giá trị thực, mới có thể sống thực. Tất cả, bắt đầu từ thực học (PACE, 2001)
                            </h4>
                        
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>

        <!-- Carousel Buttons Next/Prev -->
        <!-- <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a> -->
    </div>
</div>