<div class="row" style="margin: 5% 3% 0 3%">
    <!-- cột 9 -->
    <div class="col-lg-9 col-xl-9">
        <div class="row" *ngIf='seminar' style="padding:0% 7% 5% 7%;border:
            #005387 solid 2px">
            <h2 *ngIf='seminar' style="color:
                #005387;padding-left:3%;margin-top:4%">{{seminar.seminarName}}</h2>
            <p style="margin-top:5%" [innerHTML]="seminar.content"></p>
        </div>
        <div class="row">
            <app-comment-seminar></app-comment-seminar>
        </div>
    </div>
    <!-- cột 3 -->
    <div class="col-lg-3" style="border-left:#005387 solid 6px;background-color:
        lightgrey">
        <div class="row">
            <app-form-register></app-form-register>
        </div>
        <div class="row" style="border-top:#005387 solid 6px">
            <app-old-seminar></app-old-seminar>
        </div>
    </div>
</div>

<!-- footer -->
<div class="row" style="border-top:black solid 1px">
    <app-footer-home></app-footer-home>
</div>