.title {
    float: left;
    margin-right: 928px;
    padding-top: 8px;
    color: blue;
    font-size: 30px;
    font-weight: 300px
}
.icondelete {
    color:blue;
    font-size: 20px
}

.iconedit {
    color: blue;
    font-size: 20px
}
.styletable th {
    text-align: center;
    color: black;
    font-weight: 50px;
    font-size: 14px
}

.styletable td {
    text-align: center
}

