<div class="col-md-12" style="padding:0px">
    <div class="card">
        <div class="header">
            <h4 class="title">Danh sách thể loại</h4>
            <button class="btn btn-primary" [routerLink]="['/admin/createCategory']"> Thêm thể loại</button>
            <!-- <p class="category">Dây là danh sách các hội thảo</p> -->
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped styletable">
                <thead>
                    <tr>
                        <th>Tên thể loại</th>
                        <th>Mô tả</th>
                        <th colspan="3" >Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categorys; index as i">
                        <td>{{category.categoryName}}</td>
                        <td>{{category.description}}</td>
                        <td class="iconedit"><span [routerLink]="['/admin/editCategory',category.id]"
                                class="glyphicon glyphicon-edit"></span></td>
                        <td *ngIf="!show" class="icondelete"> <span (click)="deleteCategory(category.id)"
                                class="glyphicon glyphicon-trash "></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>