h4{
    text-align: left;
    color: #129CF3;
    font-family: 'Playfair Display', serif;
}

.text {
    font-size: 16px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
}

.show {
    overflow: visible;
    height: auto;
}

div .seminar{
    padding-top:10px;
}

a .seeMore{
    text-align: left;
}

