<section id="about" name="anynameyoulike">
    <div class="section-about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceIn">
                    <h2 class="section-title">KẾT QUẢ TÌM KIẾM</h2>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Tìm
                        kiếm hội thảo theo khung thời gian</button>
                </div>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="container-fluid">
                <div class="col">
                    <div *ngFor='let seminar of seminars| paginate: { itemsPerPage: 5, currentPage: p }; let i = index'
                        class="row-md-12 wow bounceInDown">
                        <div class="row col-md-12 shadow p-3 mb-5 bg-white rounded" style="margin-top: 10px">
                            <div class="container-fluid" style="margin-top: 10px">
                                <div class="col-md-3">
                                    <a [routerLink]="['/seminar/detail',seminar.id]"><img
                                            style="width: 100%;height: 100%" src="{{seminar.image}}"></a>
                                </div>
                                <div class="col-md-9">
                                    <div class="col">
                                        <div class="row-md-12">
                                            <h4 class="">{{seminar.seminarName}}</h4>
                                        </div>
                                        <div class="row-md-12" style="text-align: left">
                                            <p>Đơn vị tổ chức: {{seminar.host}}</p>
                                        </div>
                                        <div class="row-md-12" style="text-align: left">
                                            <p>Ngày diễn ra: {{seminar.heldTime}}</p>
                                        </div>
                                        <div class="row-md-12" style="text-align: left">
                                            <p>Thời gian diễn ra: {{seminar.startTime}}</p>
                                        </div>
                                        <div class="row-md-12" style="text-align: left">
                                            <p class="col-caption" [innerHTML]="seminar.content"></p>
                                        </div>
                                        <div class="row-md-12" style="text-align: left">
                                            <a [routerLink]="['/seminar/detail',seminar.id]">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                    </div>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">TÌM KIẾM HỘI THẢO THEO KHUNG THỜI GIAN</h4>
            </div>
            <div class="modal-body">
                <label for="">Ngày bắt đầu</label>
                <input class="form-control" type="date" [(ngModel)]="DateFrom">
                <label for="">Ngày kết thúc</label>
                <input class="form-control" type="date" [(ngModel)]="DateTo">

            </div>
            <div class="modal-footer">
                <button class="btn" (click)="onChangeStartDate()" data-dismiss="modal">Tìm kiếm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>


<app-footer-home></app-footer-home>